@model ApplicationCrudAndValidation.Models.MenuData

<h1>Editar Plato</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="mb-3">
        <label asp-for="NameDish" for="nameDish" class="form-label">Nombre del Plato</label>
        <input asp-for="NameDish" type="text" class="form-control" id="nameDish">
    </div>
    <div class="mb-3">
        <label asp-for="Valoration" for="valoration" class="form-label">Valoracion</label>
        <input asp-for="Valoration" type="text" class="form-control" id="valoration">
    </div>
    <div class="mb-3">
        <label asp-for="Time" for="time" class="form-label">Tiempo Preparacion</label>
        <input asp-for="Time" type="text" class="form-control" id="time">
    </div>
    <div class="mb-3">
        <label asp-for="Price" for="price" class="form-label">Precio</label>
        <input asp-for="Price" type="text" class="form-control" id="price">
    </div>
    <div class="mb-3">
        <label asp-for="Difficulty" for="difficulty" class="form-label">Dificultad</label>
        <input asp-for="Difficulty" type="text" class="form-control" id="difficulty">
    </div>
    <div class="btns_form_create">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-controller="Home" asp-action="RestaurantMenu" class="btn btn-danger">Cancelar</a>
    </div>
</form>